<nav class="bg-white border-b border-gray-200">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">

      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a href="/" class="text-blue-600 font-semibold text-lg">Cocolis</a>
      </div>

      <div class="-mr-2 -my-2 md:hidden">

        <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">

        </button>
      </div>

      <nav class="hidden md:flex space-x-10">
        <a href="/" class="text-base font-medium text-gray-500 hover:text-gray-900">Services</a>
        <a href="/" class="text-base font-medium text-gray-500 hover:text-gray-900">About</a>
        <a href="/" class="text-base font-medium text-gray-500 hover:text-gray-900">Contact Us</a>
      </nav>

      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        <a href="/users/sign_up" class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900">Sign Up</a>
        <a href="/admins/sign_in" class="ml-6 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-blue-600 hover:bg-blue-700">Log In - Admin</a>
        <a href="/users/sign_in" class="ml-6 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-green-600 hover:bg-green-700">Log In - User</a>
      </div>

    </div>
  </div>
</nav>
<div class="min-h-screen flex items-center justify-center bg-gray-100 px-6">
  <div class="max-w-4xl w-full space-y-8 bg-white p-10 rounded-lg shadow-md flex flex-wrap justify-between">
    <h2 class="w-full text-center text-3xl font-extrabold text-gray-900">
      Sign up
    </h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "mt-8 space-y-6 w-full" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex -mx-2">
        <div class="w-1/2 px-2">
          <div class="mb-4 flex items-center border border-gray-300 rounded-md">
            <i class="fas fa-user px-3 py-2 text-gray-500"></i>
            <%= f.text_field :first_name, autofocus: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm", placeholder: "First name" %>
          </div>

          <div class="mb-4 flex items-center border border-gray-300 rounded-md">
            <i class="fas fa-envelope px-3 py-2 text-gray-500"></i>
            <%= f.email_field :email, autocomplete: "email", class: "appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm", placeholder: "Email address" %>
          </div>

          <div class="mb-4 flex items-center border border-gray-300 rounded-md">
            <i class="fas fa-lock px-3 py-2 text-gray-500"></i>
            <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm", placeholder: "Password" %>
          </div>

          <div class="mb-4 flex items-center border border-gray-300 rounded-md">
            <i class="fas fa-user-tag px-3 py-2 text-gray-500"></i>
            <%= f.select :role, User.roles.keys.map { |role| [role.titleize, role] }, { prompt: "Select a role" }, class: "block w-full pl-10 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md" %>
          </div>
        </div>

        <div class="w-1/2 px-2">
          <div class="mb-4 flex items-center border border-gray-300 rounded-md">
            <i class="fas fa-user-friends px-3 py-2 text-gray-500"></i>
            <%= f.text_field :last_name, class: "appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm", placeholder: "Last name" %>
          </div>

          <div class="mb-4 flex items-center border border-gray-300 rounded-md">
            <i class="fas fa-map-marker-alt px-3 py-2 text-gray-500"></i>
            <%= f.text_field :address, class: "appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm", placeholder: "Address" %>
          </div>
          <div class="mb-4 flex items-center border border-gray-300 rounded-md">
            <i class="fas fa-lock px-3 py-2 text-gray-500"></i>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm", placeholder: "Confirm Password" %>
          </div>
          <div class="mb-4 flex items-center border border-gray-300 rounded-md">
            <i class="fas fa-credit-card px-3 py-2 text-gray-500"></i>
            <%= f.text_field :credit_card_info, class: "appearance-none rounded-none relative block w-full px-3 py-2 placeholder-gray-500 text-gray-900 focus:outline-none sm:text-sm", placeholder: "Credit Card Info" %>
          </div>


        </div>
      </div>

      <div>
        <%= f.submit "Sign up", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-500 hover:bg-teal-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
    <% end %>
    <div class= "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-teal-500 hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
